tr:nth-child(even){
  background-color: #f2f2f2;
}

th, td {
  text-align: left;
  padding: 8px;
}

table {
  max-width: 900px;
  margin: 0 auto;
  background-color: #E3E4DE;
}

th {
  background-color: #2C3852;
  color: white;
  font-size: 18px;
}